<div class="container my-4">

    <div class="row">
        <div class="col-12">
            <h1>Rolunk</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates quae soluta esse. Debitis provident
                eos tempore enim, non, excepturi accusamus error cupiditate iste illum a nostrum, illo ad hic. Impedit.
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea voluptatibus inventore, illum, fuga eligendi
                voluptates quod voluptate dolor eveniet libero sequi molestias minima blanditiis amet numquam fugit
                natus qui odit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aut, dolorum
                repudiandae perspiciatis cupiditate nihil dolores consectetur inventore quae minus magni distinctio
                ipsum, unde reprehenderit dicta ipsam officiis nisi odio.</p>
        </div>
    </div>
</div>