<div class="container my-4">

    <div class="row">
        <div class="col-12">
            <h1>Fooldal</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic aperiam vero libero inventore ea, ducimus
                similique! Sunt libero numquam totam incidunt culpa unde, aut ratione recusandae nam, minima quia harum?
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure adipisci, quis temporibus beatae minus
                vero optio assumenda, vel quos hic saepe architecto corporis quod consectetur nobis necessitatibus quia
                tenetur repellendus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt omnis impedit incidunt perspiciatis?
                Sit consectetur nemo modi, maxime, incidunt omnis enim fugiat explicabo eveniet error atque minima
                maiores dolore deleniti.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quisquam odio eos deleniti, consectetur
                esse aperiam odit similique earum officiis exercitationem harum repellendus blanditiis culpa quam facere
                quae nobis mollitia.
                Sequi quisquam consequatur quod officiis, voluptates nam commodi blanditiis consectetur aspernatur
                voluptas iure obcaecati fugit, omnis earum enim. Perspiciatis eveniet, excepturi nesciunt quisquam at
                aperiam fugit dolores necessitatibus hic quaerat!
                Neque deserunt dicta nobis cupiditate magnam a assumenda quisquam laboriosam eius corrupti vitae
                consequatur, ut quas est nulla quae accusamus maiores recusandae autem numquam blanditiis! Commodi ipsam
                consect</p>
        </div>
    </div>

</div>